# Only for Docker Deployment

BOT_TOKEN=6578807444:AAE1uxAWF4FXboGZSO1g62u-camY1_3I5mc # Get it from @botfather

API_ID=26945997

API_HASH=243909991094faec591cdf0b8f86cbde

SESSION_STRING=BQGbKc0AojQ7zIxsN8hVWm3NamEJ0jQD7a6omfqD1wC2lV2dreknQ8Wjh-27fF71WoPQIEle6CxBc0Gwx7YDqm6crtEqju_7wjQvLs9kp6GftU55GJmLh5GJjpqwvCocRb313ufV1z9cuzxAzb_ANIHnrws9eAblSm2ubWMZ5CyKxw6rjHB3Sjng8T7RxTc9W6t2H1U37btcRvskXf2H0NuUsZw3jDPUOLGiyOvI-7T1BlOeDO9RTSjxkw-z9u8GUOW7j5TvXHXxvwTbtF27mcebND6g_0BYlFUDUMkBcdBgABLzxa-lVNLnrxhhBS4fJF4GPa6drb0xl8nL8rgprCdAxt33wgAAAABr7xcKAA # Check Readme to generate sessions

USERBOT_PREFIX=userbot_prefix

SUDO_USERS_ID=6786615414 6010551390 5733524191 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1002040509047

GBAN_LOG_GROUP_ID=-1002040509047

MESSAGE_DUMP_CHAT=-1002040509047

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://muchi:muchi@cluster0.ebmld.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

ARQ_API_URL=https://arq.hamker.dev # Leave it like this

ARQ_API_KEY=LXOSBH-CLBBUQ-NADMAQ-VFQMGC-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=1 # fill 0 to disable it
